.LeftSide-screen{
    display: flex;
    flex-direction: column;
    align-items: center;
    width: 245px;
    height: 100vh;
    margin-top: -700px;
    position: absolute;
    position: fixed;
}
.LeftSide-screen__contents{
    margin-left: 23px;
    margin-top: 48px;
    width: 245px;
    height: 670px;
    
}
.LeftSide-screen__contents__real {
    
    display: flex;

}

.Instagram{
    margin-top: 30px;
    width: 115px;
    height: 46px;
}

.LeftSide-screen__contents div {
    margin-bottom: 33px;
}
.LeftSide-screen__contents__real span {
    margin-left: 17px;
    font-size: 17px;
}
.LeftSide-screen__contents__real i{
    width: 25px;
    height: 25px;
}
#My-profile {
    width: 25px;
    height: 25px;
    border-radius: 50%;
}
.LeftSide-screen__contents div:last-child{
    margin-top: 80px;
}


.LeftSide-screen__contents__real {
 
    width: 245px;
    height: 20px;
    margin-left: 20px;
}