@import "reset.css";
@import "css/firstloginscreen.css";
@import "css/firstscreen_footer.css";
@import "css/mediaquery.css";


@media screen and (max-width: 500px) {
	.IphoneImage{
        display: none;
    }
    .footerscreen{
        display: none;
    }
	.login-screen{
		margin-left: 218px;
	}

	
}

html{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
   
  
}
body{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 1500px;
    height: 100vh;
}