@import "secondreset.css";
@import "css/secondscreenleftsidebar.css";
@import "css/secondscreen_middle_header.css";
@import "css/secondscreen_middle.css";
@import "css/second_screen_rightside.css";
@import "css/mediaquery.css";





@media screen and (max-width: 768px) {
    .rightside{
        display: none;
    }
    .middle-screen{
        margin-left:40px ;
    }
}



html{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
  
    position: relative;
    margin-top: 0px;
  
}
body{
    width: 1500px;
    height: 200vh;
}