@import "reset.css";
@import "css/firstloginscreen.css";
@import "css/firstscreen_footer.css";
@import "css/media.css";




html{
	display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
   
  
}
body{
    display: flex;
	justify-content: center;
	align-items: center;
	flex-direction: column;
    width: 1500px;
    height: 100vh;
}